dataset.py
test.py
eval_datasets_llama/en_evaluation_dataset_llama8b.csv
eval_datasets_llama/en_evaluation_dataset_llama70b.csv
eval_datasets_llama/en_evaluation_dataset_mistral.csv
eval_datasets_llama/en_evaluation_dataset_saiga.csv
eval_datasets_llama/en_evaluation_dataset.csv
eval_datasets_llama/ru_evaluation_dataset_llama8b.csv
eval_datasets_llama/ru_evaluation_dataset_llama70b.csv
eval_datasets_llama/ru_evaluation_dataset_mistral.csv
eval_datasets_llama/ru_evaluation_dataset_saiga.csv
eval_datasets_llama/ru_evaluation_dataset.csv
eval_datasets_llama/zh_evaluation_dataset_llama8b.csv
eval_datasets_llama/zh_evaluation_dataset_llama70b.csv
eval_datasets_llama/zh_evaluation_dataset_mistral.csv
eval_datasets_llama/zh_evaluation_dataset_saiga.csv
eval_datasets_llama/zh_evaluation_dataset.csv
generate_desc_image.ipynb
.ipynb_checkpoints/generate_desc_image-checkpoint.ipynb
